/*this is a comment

#fffd98 yellow
#bb7e5d brownorange
#2a9d8f greenblue not used yet!!!!!
#462255 dark purple
#d0cfec light purple

*/

/*Global styles
--------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
img {
    width: 200px;
}
h2 {
    margin:0;
}
h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
}
h1 {
    font-size: 100px;
    line-height: 1;
}
h2 {
    font-size: 45px;
}
.typewriter h1 {
    color: #fff;
    font-family: caveat;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #f7fff7 }
  }
.content-wrap{
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
    
}

/*profile
--------------------------------*/
header{
    background-color: #462255;
    color:#f7fff7;
}

/*projects
--------------------------------*/
.projects {
    background-color: #9FB8AD;
    border-bottom: 1px dashed #343434;
}

/*button*/
.projects a{
    color:#bb7e5d;
    
}
.btn {
    text-decoration: none;
    background-color:#462255;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.project-item {
    overflow:hidden;
}


/*experience
--------------------------------*/
.experience {
    background-color: #d0cfec;
}


/*Education
--------------------------------*/
.education {
    background-image: url(../images/placeholder\ images/joanna-kosinska-unsplash.jpg);
    background-size: cover;
    background-position: top right;
    padding-bottom: 70px;
}

.italicss {
    font-family: 'Caveat', cursive;
    font-size: 24px;
}
.smaller-text {
    width: 60%;
}
/*activities
--------------------------------*/
.activities {
    background-color: #fffd98;
}

.activities-item {
    border-bottom: 1px dashed #343434;
}

/*certification
--------------------------------*/



footer {
    background-color: #462255;
    color:#f7fff7;
}

/*links
--------------------------------*/
.contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.contact-list a {
    padding: 15px;
    display:inline-block;

}

a:link{
    color:blue;
}

a:visited{
 color:whitesmoke;
}

/* a:hover {
    background-color:grey;
} */

a:active {
    color:white
}


/*responsive styles
--------------------------------*/
@media screen and (min-width:550px){
    .header, footer{
        text-align: center;
    }
    .project-item img {
        float:left;
        margin: 20px;
    }
    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    
}
