<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mariam Tmane - Portfolio</title>
    <link href="https://fonts.cdnfonts.com/css/montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <main>
      <!-- ***********************  ABOUT / PROFILE  *********************** -->
      <header>
              <div class="content-wrap">

                <div class="typewriter">
                  <h1>Mariam Tmane</h1>
                </div>
              <h2>Computer Science Student @ GSU</h2>

              <p>Hello, I am Mariam. I am a sophmore studying Computer Science at Georgia State University!</p>
              <p>I am very passionate about Web programming and design, that's why I created this web page as my first Web programming project, and it is definitely not my last ;)</p>
            </div>
      </header>

      <!-- ********************  PROJECTS / PORTFOLIO  ********************* -->

     
      <section class="education project-item">
        <div class="content-wrap">
        <h2>Education</h2>
        <!-- Copy this whole <section> block to add more schools. -->
        <section>
          <div class="italicss">
          <h3>Georgia State University - Atlanta</h3>
          <p>Bachelor of Science, Computer Science: Aug 2021 – May 2025</p>
        </div>
        <div class="smaller-text">
          <p>GPA: 3.93, Spring 2022 President's List, Fall 2021 Dean's List, Zell Miller Scholarship, GSU Excellence Scholarship.
            <br>
          Relevant Coursework: Principles of Computer Science I & II, Pre-calculus, Theoretical Foundations of Computer
          Science, UI/UX Design Bootcamp</p>
        </div>
        </div>
        </section>
        <!-- End of School block. -->
      </section>
  

      <section class="projects">
        <div class="content-wrap">
        <h2>Projects</h2>
        <p></p>

        <!-- Copy the whole <section> block to add more projects. -->
        <section class="project-item">
          <!-- <img src="images/placeholder images/webwomen.jpg" alt="web programming picture"> -->
          <img src="/static/download (1).jpeg" alt="Github picture">
          <h3>Personal Portfolio Website</h3>
          <p>Created a personal Portfolio page using HTML & CSS, this page:) featuring my education, experience and projects I have completed</p>
          <a class="btn" href="https://github.com/MariamTmane" target="_blank">View project on GitHub</a>
        </div>
        </section>
        <!-- End of Project block. -->
      

      <!-- Copy the whole <section> block to add more projects. -->
        <section class="projects project-item">
          <div class="content-wrap">
          <!-- <img src="images/placeholder images/webwomen.jpg" alt="web programming picture"> -->
          <img src="/static/tweekPres.png" alt="presentation picture">
          <h3>UX design project: Tweek To-do list app</h3>
          <p>This project was part of the UX/UI design bootcamp, where I conducted Quantitative research to modify the UI of Tweek, a desktop 
            To-do list app, and presentend my findings and modifications to the intructor and student peers. 
          </p>
          <p>This project case includes: 
             Research Survey, High Fidelity frames, Low fidelity frames, site map, mood board.</p>
          <a class="btn" href="https://github.com/MariamTmane" target="_blank">View presentation</a>
      </div>
        </section>
        <!-- End of Project block. -->
      </section>
    </section>

      <!-- ***********************  WORK EXPERIENCE  *********************** -->
      <section class="experience">
      <div class="content-wrap">
        <h2>Experience</h2>
    
        <!-- Copy this whole <section> block to add more jobs. -->
        <section class="job-item">
          <div class="job-details">
              <h3>Computer Science Tutor</h3>
              <p>As I am self-employed in this volunteer role, I am a motivated self-starter who takes initiative to help my peers.</p>
              <p>August 2022 - Present</p>
              </div>

          <div class="job-summary">
          <ul>
            <li>Helping students and friends taking computer science classes (Principles of Computer Science I).
            </li>
            <li>Analyzing and Debugging Code and providing feedback (Python).</li>
            <li>Helping Students get ready for examinations by organizing a tutoring environment to promote 
              learning and productivity</li>
            <li>Responsible for scheduling and conducting online meetings.</li>
          </div>
        </div>
        </section>
      
        <!-- End of Job block. -->
      </section>

    
      <section class="activities" >
        <div class="content-wrap">
        <h2>Activities</h2>

        <!-- Copy this whole <section> block to add more jobs. -->
          <section class="activities-item">
            <h3>Girls Who Code - UI/UX Design Bootcamp student: </h3>
            <p>August 2022 – Present</p>
            <p>Tasks Completed:</p>
  
            <ul>
             
              <li>Working on a project to improve the usability of a To-Do list app on mobile and desktop, to 
                improve its design and information architecture. </li> 
              <li>Gathering data through quantitative and qualitative research methods.</li>
        
          </section>

        <section class="activities-item">
          <h3>General Electric Data Analytics Virtual Experience Program on Forage Participant</h3>
          <p>October 2022</p>
          <p>Tasks Completed:</p>

          <ul>
           
            <li>Combined and visualized data to drive meaningful insights using Excel and Tableau.</li> 
            <li>Worked on samples for data engineering and data visualization to assist the GE Aviation team to 
              make decisions based on real-time data.</li>
              <a class="projects btn" href="https://forage-uploads-prod.s3.amazonaws.com/completion-certificates/General%20Electric%20%28GE%29/ThbphD5N5WRsd9Mxo_General%20Electric_GFLtekXEBHgHcL7Bd_1664760653110_completion_certificate.pdf" target="_blank">View Credential</a>
        </section>
        <!-- End of Job block. -->

        <section class="activities-item">
          <h3>General Electric Engineering Virtual Experience Program on Forage Participant</h3>
          <p>October 2022</p>
          <p>Tasks Completed:</p>

          <ul>
            <li>Analyzed the effects of COVID-19 on ventilator demand data, and summarized findings in a 
              PowerPoint presentation.</li>
            <li>Performed a descriptive analysis to present data in a meaningful way using Tableau. </li>
            <li> Researched and identified the necessary control mechanisms to fly the automated approach to 
              landing</li>
              <a class="projects btn" href="https://forage-uploads-prod.s3.amazonaws.com/completion-certificates/General%20Electric%20%28GE%29/XxtPu3MdxghFHzPGn_General%20Electric_GFLtekXEBHgHcL7Bd_1666457477510_completion_certificate.pdf" target="_blank">View Credential</a>
        </section>
        </div>
      </section>


      <!--Technical Skills-->

      <section class="technicalskills">
        <div class="content-wrap">
        <h2>Technical Skills</h2>

        <!-- Copy this whole <section> block to add more schools. -->
        <section>
          <p>Languages: Java, Python, HTML, CSS</p>
          <p>Tools: Miro, Tableau, Figma, Flask</p>
   
        </section>

        <!--Certification-->
        <section class="certif">
          <h2>Certifications</h2>
  
          <!-- Copy this whole <section> block to add more schools. -->
          <section>
            <h4>Georgia Seal of Billiteracy</h4>
            <p>Fluecny in French and English</p>
          </div>
          </section>
     

      <!-- *****************  CONTACT INFO / SOCIAL MEDIA  ***************** -->
      <footer>
        <div class="content-wrap">
        <h2>Let's Keep in Touch!</h2>

        <!-- Social media and contact links. Add or remove any networks. -->
        <ul class="contact-list">
          <li><a href="mailto:email@example.com">masohatmane@gmail.com</a></li>
          <li><a href="https://github.com/MariamTmane" target="_blank">Github</a></li>
          <li><a href="https://linkedin.com/in/mariam-tmane-692460223" target="linkedin.com/in/mariam-tmane-692460223">linkedin</a></li>

        </ul>
      </div>
      </footer>
    </main>
  </body>
</html>
